/* =========================
   PALETA DE COLORES
========================= */

:root {
  --onyx: #0d0a0b;
  --charcoal-blue: #454955;
  --lavender-mist: #f3eff5;
  --lime-moss: #72b01d;
  --green: #3f7d20;
  --white: #ffffff;
}